SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04e2", ENV{ID_MODEL_ID}=="1414", ENV{ID_USB_INTERFACE_NUM}=="06", SYMLINK+="usb2lin/a"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04e2", ENV{ID_MODEL_ID}=="1414", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="usb2lin/b"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04e2", ENV{ID_MODEL_ID}=="1414", ENV{ID_USB_INTERFACE_NUM}=="04", SYMLINK+="usb2lin/c"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04e2", ENV{ID_MODEL_ID}=="1414", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="usb2lin/d"
